body {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  margin: auto;
  text-align: center;
}

.normalButton {
  background-color: white;
  border: 2px solid black;
}

.normalButton:hover {
  background-color: #EFEFEF;
}

#resetButton {
  color: red;
  background-color: white;
  font-weight: bold;
  border: 2px solid red;
}

#resetButton:hover {
  color: white;
  background-color: red;
}

.markupButton {
  color: white;
  background-color: black;
  border: 2px solid #B67F33;
}

.markupButton:hover {
  color: black;
  background-color: #B67F33;
}

.tabButton {
  background-color: white;
  border: 2px solid black;
}

.tabButton:hover {
  background-color: #DFDFDF;
}

#markupTabButton {
  color: white;
  background-color: black;
  border: 2px solid #B67F33;
}

#markupTabButton:hover {
  color: black;
  background-color: #B67F33;
}

#header {
  font-size: 40px;
}
